<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="pagination">
  <div class="left">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Cognome</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><!-- {{students.id}} --></th>
          <td><!-- {{students.name}} --></td>
          <td><!-- {{students.surname}} --></td>
          <td><button type="button" class="btn btn-dark">Assegna</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="right"></div>
</div>

